<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/image/logo.png" width="150" height="70" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
              <a routerLink="/home/dashboard" class="nav-link">Deskboard</a>
          </li>
          <li class="nav-item">
     <a routerLink="/home/manage-category" class="nav-link">Manage Categories</a>
          </li>
          <li class="nav-item">
              <a routerLink="/home/manage-expence" class="nav-link">Manage Expences</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/expence-summary" class="nav-link">Expence Summary</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Manage Users</a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/signup" class="nav-link">Signin/Signup</a>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-warning text-dark px-3">logout</button>
          </li>
        </ul>  
      </div>
    </nav>